* {
  box-sizing: border-box;
}
body {
  background-color: #efedd6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}
h1 {
  margin: 10px;
}
.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  /* 初始在右侧 */
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.box:nth-of-type(even) {
  /* 偶数从左侧划入 */
  transform: translateX(-400%);
}
.box.show {
  /* 当卡片添加show类 transform重置为0 卡片回到中央 */
  transform: translateX(0);
}
.box h2 {
  font-size: 35px;
}
